.black-overlay {
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.mymodal {
    position: absolute;
    user-select: none;
    width: 300px;
    top: 300px;
    left: 300px
}

.inventory-slot {
    width: 48px;
    height: 48px;
    padding: 0px;
    background-size: auto;
    margin-right: 0.25rem !important;
    margin-bottom: 0.25rem !important;

}

.hero_icon {
    background: url('../img/Icon.1_05.png') round;
}

.buff_icon {
    background: url('../img/Icon.2_45.png') round;
}

.boss_icon {
    background: url('../img/Icon.7_61.png') round;
}

.party_member_icon {
    background: url('../img/Icon.1_25.png') round;
}

.action-hearth-break {
    background: url('../img/Icon.1_01.png') round;
}

.action-piu {
    background: url('../img/Icon.1_16.png') round;
}

.action-fireball {
    background: url('../img/Icon.1_24.png') round;
}

.action-shards {
    background: url('../img/Icon.1_42.png') round;
}

.inventory-backpack-slot {
    background: url('../img/backpack.png') round;
}

.inventory-backpack-slot.empty {
    filter: grayscale(100%);
}

.inventory-armor {
    background: url('../img/armor.png') round;
}

.inventory-potion-green {
    background: url('../img/potionGreen.png') round;
}
.inventory-potion-blue {
    background: url('../img/potionBlue.png') round;
}
.inventory-potion-red {
    background: url('../img/potionRed.png') round;
}

.inventory-axe {
    background: url('../img/axe.png') round;
}

.inventory-gemBlue {
    background: url('../img/gemBlue.png') round;
}

.inventory-tome {
    background: url('../img/tome.png') round;
}

.inventory-upg-shield {
    background: url('../img/upg_shield.png') round;
}
.inventory-upg-helmet {
    background: url('../img/upg_helmet.png') round;
}