<div class="mymodal" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">параметры</h5>
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>